SECRET_KEY=
DEBUG=True

# Database Configuration
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# Google Maps API Key
GOOGLE_API_KEY=

# PayPal
PAYPAL_CLIENT_ID=
